@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');

body {
    background-color: #cacaca;
    color: #232323;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

nav#navigation>div>div>div>ul {
    display: flex;
    justify-content: flex-end;
    padding: 0%;
    list-style: none;
    color: white;
}

nav#navigation>div>div>div>ul>li {
    margin: 2%;
}

nav#navigation>div>div>div>ul>li>a {
    text-decoration: none;
    color: white;
}

nav#navigation>div>div>div>ul>li>a:hover {
    text-decoration: underline;
    color: white;
}

div.notice {
    border: 5px solid red;
    background-color: #ff000026;
}

div.section {
    /* margin: 1vw; */
    margin-top: 1vw;
    margin-bottom: 1vw;
    padding: 1%;
    border: solid 5px;
    background-color: #ffffff97;
    border-color: white;
    border-radius: 5px;
}

h2 {
    border-bottom: 2px solid yellowgreen;
}

a.taglink {
    border: solid #3dafdc;
    border-radius: 4px;
    text-decoration: none;
    background-color: skyblue;
    color: white;
    padding-left: 1%;
    padding-right: 1%;
    margin: 2px;
}

div#imglist>img:hover {
    opacity: 0.8;
    cursor: pointer;
}

a.taglink:hover {
    color: #000046;
}

form#form>div {
    margin-bottom: 1%;
}

.cardtext {
    text-decoration: none;
    color: black;
}

p.cardlinelimit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

form#form>div>p {
    margin-bottom: 2px;
}

.required::after {
    content: "(必須)";
    color: red;
    font-size: small;
}

div#imgfield {
    width: fit-content;
    margin-bottom: 1%;
    width: 50%;
}

div#imglist {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1%;
}

div#dangerzone {
    border: red dashed;
    border-radius: 4px;
    background-color: #ff000016;
    padding: 0.5rem;
}